JC_DECAUX_API_KEY=value
POSTGRES_USER=value
POSTGRES_PASSWORD=value

AIRFLOW_UI_USERNAME=value
AIRFLOW_UI_PASSWORD=value
AIRFLOW_UI_FIRSTNAME=value
AIRFLOW_UI_LASTNAME=value
AIRFLOW_UI_EMAIL=value@value.com

DB_USER_PASSWORD_AIRFLOW=value

DB_USER_PASSWORD_METABASE=value

METABASE_ADMIN_EMAIL=value@value.com
METABASE_ADMIN_PASSWORD=value
METABASE_ADMIN_FIRSTNAME=value
METABASE_ADMIN_LASTNAME=value